<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Campground</title>
 
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/campgrounds" method="post">
            <div>
                <label for="title">Title</label>
                <input type="text" name="campground[title]" id="title">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="campground[location]" id="location">
            </div>
            <button>Add Campground</button>
        </form>
        <div>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </body>
</html>